@import url('https://fonts.googleapis.com/css?family=Lato|Lobster&display=swap');
body
{
font-family: 'Lato', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
.banner
{
	padding: 50px 0 60px;
	background: url(https://theonlinemed.com/wp-content/uploads/2019/09/main-banner.jpg);
	color: #fdfdfd;
}
h1
{
 font-size: 90px;
}
.banner h2
{
	font-size: 80px;
}
p
{
 font-size: 20px;
 line-height: 2;
 color: lightblue;
}
.text-center
{
	text-align: center;
}
.about
{
	padding: 80px 0 60px 0;
	background: #fff;
	color: black;
}
.bg2
{
	width: 100%;
	height: 100px;
	background-size: contain;

}
.banner .buttons
{
	position: relative;
	padding-top: 30px;
	letter-spacing: 0.5px;
	visibility: visible;
}
.button
{
	display: inline-block;
    padding: 8px;
    margin: 0 0 0 0;
    -webkit-border-radius: 2px;
    -moz-transform-style: preserve-3d;
    background-color:
    transparent;
}
.button.solid_color_2, .tilt-button-wrap 
{
    perspective: 800px;
    display: inline-block;

}
.buttons > div:first-child
{
    padding-left: 0;

}
.buttons > div:last-child {

    padding-right: 0 !important;

}
.button a
{
	border-radius: 0;
    box-shadow: none;
}
.button.solid_color_2 a, .nectar-button.tilt {

    display: block;
    background:  #5cbcf6;
    background-color: rgb(92, 188, 246);
    outline: none;
    padding-left: 22px;
    padding-right: 22px;
    position: relative;
    border-bottom: none;
    opacity: 1;
    -webkit-transition: all .5s cubic-bezier(0.25,1,0.33,1);
    transition: all .5s cubic-bezier(0.25,1,0.33,1);

}
.parallax-window {
	min-height: 470px;
	background: transparent;
	padding: 50px 0;
}
.team
{
	background: #f7f7f7;
	padding: 40px 10px;
}
.text-uppercase
{
	padding-bottom: 80px;
	font-size: 40px;
}
.footer
{
	background: #343a40;
	color: #fff;
    padding: 20px 0;
	text-align: center;

}